body {
    font-family: Arial, sans-serif;
    width: 60%;
    margin: auto;
    padding-top: 40px;
}

input, button {
    padding: 10px;
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
